---

import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---
---


<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Tecnologías
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/html.png" width="100" height="60" alt="HTML" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/css.png" width="100" height="60" alt="CSS" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/js.png" width="100" height="60" alt="JS" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/ts.png" width="100" height="60" alt="TS" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>-->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/astro.webp" width="100" height="60" alt="Astro" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/node.png" width="100" height="60" alt="Node" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/react.png" width="100" height="60" alt="REAC" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/V2.png" width="100" height="60" alt="v2" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/ht.png" width="100" height="60" alt="HOSTINGUER" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>-->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/vercel.png" width="100" height="60" alt="VERCEL" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/NIC.png" width="100" height="60" alt="NICCHILE" class="h-16 sm:h-16 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            
        </div>
    </Container>
</section>